* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Lato', sans-serif;
    /* font-family: 'Merriweather', serif */
    background: #EBEBEB;
}

.container {
    max-width: 1115px;
    width: 100%;
    margin: auto;
}

.block {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.button {
    padding: 19px 52px;
    border: none;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 25px;
    text-align: center;
    color: #FFFFFF;
    background: #005FA3;
    cursor: pointer;
    transition: all .3s;
}

.button:hover {
    background: #0095ff;
}

.logo_container {
    display: flex;
    align-items: center;
}

.section_header {
    padding-top: 22px;
    padding-bottom: 31px;
    background: white;
}

.logo_img {
    margin-right: 30px;
}

.logo_text {
    font-family: Merriweather;
    font-style: normal;
    font-weight: 900;
    font-size: 36px;
    line-height: 50px;
    color: #005FA3;
}

.header-main_container {
    max-width: 671px;
    width: 100%;
}

.header_contacts {
    display: flex;
    justify-content: space-between;
    margin-bottom: 22px;
}

.contact_container {
    max-width: 165px;
    width: 100%;
    margin-right: 40px;
}

.contact_img {
    margin-right: 15px;
}

.header-contact_item {
    position: relative;
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 17px;
    color: #000000;
    padding-left: 38px;
}

.header-contact_item:first-child {
    padding-left: 25px;
}

.contact_container {
    display: flex;
}

.phone_img::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    background: url(../img/phone.png) no-repeat center;
    width: 10px;
    height: 18px;
}

.cock_img::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    background: url(../img/cock.png) no-repeat center;
    width: 20px;
    height: 18px;
}

.mail_img::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    background: url(../img/mail.png) no-repeat center;
    width: 23px;
    height: 18px; 
}

.addres_img::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    background: url(../img/map.png) no-repeat center;
    width: 23px;
    height: 18px;   
}

.header_nav {
    display: flex;
    justify-content: space-between;
}

.nav_item {
    text-decoration: none;
    font-family: Lato;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 0.1em;
    text-transform: uppercase;  
    color: #222222;
}

/* section_promo */

.section_promo {
    padding-top: 170px;
    padding-bottom: 113px;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(../img/st-pet.jpg) no-repeat center / cover;
}

.promo_container {
    position: relative;
}

.promo_title {
    font-family: Merriweather;
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    line-height: 66px; 
    color: #FFFFFF;
    margin-bottom: 80px;
}

.promo_button {
    margin-bottom: 120px;
}

.slider_circles {
    display: flex;
}

.slider_item {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: #FFFFFF;
    opacity: 0.4;
    margin-right: 40px;
}

.selected {
    background: #FFFFFF;
    opacity: 1;
}

.slider_item:last-child {
    margin-right: 0;
}

.slide_arrows {
    position: absolute;
    bottom: -5px;
    right: 0;
    display: flex;
}

.arrow:first-child {
    padding: 30px;
    background: rgba(255, 255, 255, 0.2) url(../img/arrowL.png) no-repeat center;
    border: none;
    cursor: pointer;
    transition: all .3s;
}

.arrow:last-child {
    padding: 30px;
    background: rgba(255, 255, 255, 0.2) url(../img/arrowR.png) no-repeat center;
    border: none;
    cursor: pointer;
    transition: all .3s; 
}

.arrow:first-child:hover {
    background: rgba(255, 255, 255, 0.4) url(../img/arrowL.png) no-repeat center;
}

.arrow:last-child:hover {
    background: rgba(255, 255, 255, 0.4) url(../img/arrowR.png) no-repeat center;
}

/* section_special */

.section_special {
    padding: 140px 0
}

.section_subtitle {
    font-family: Lato;
    font-style: normal;
    font-weight: 900;
    font-size: 24px;
    line-height: 33px;
    color: #BDBDBD;
    margin-bottom: 40px;
}

.section_title {
    font-family: Merriweather;
    font-style: normal;
    font-weight: 900;
    font-size: 48px;
    line-height: 69px; 
    color: #333333;
    margin-bottom: 102px;
}

.cards {
    display: flex;
    flex-wrap: wrap;
}

.special_card {
    padding: 261px 118px 45px 45px;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)), url(../img/building.jpg) no-repeat center / cover;
    margin-right: 30px;
    margin-bottom: 30px;
    transition: all .3s;
    cursor: pointer;
}

.special_card:hover {
    background: linear-gradient(0deg, rgba(0, 95, 163, 0.65), rgba(0, 95, 163, 0.65)), url(../img/building.jpg) no-repeat center / cover;
}

.special_card:nth-child(3) {
    margin-right: 0;
}

.special_card:nth-child(6) {
    margin-right: 0;
}

.without_margin {
    margin-bottom: 0;
}

.special_title {
    width: 187px;
    font-family: Lato;
    font-style: normal;
    font-weight: 900;
    font-size: 24px;
    line-height: 30px;
    color: #FFFFFF;    
}

